.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 500px;
  font-size: large;
  background-color: orange;
  padding: 20px;
}
.container-el {
  flex: 0 0 200px;
}
.nav-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
