.contact-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: 128px;

  /* gap: 100px; */
  /* margin-left: 10%; */
}
.map {
  width: 90%;
  height: 80vh;
}
.contact-page-body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #282c34;
  /* padding-top: 80px; */
  /* justify-content: center; */
  align-items: center;
  /* align-items: center; */
}

.address-grid {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
}

.phone-details,
.email-details,
.address-details {
  display: flex;
  flex-direction: column;
  padding: 56px;
  gap: 32px;
  border-top: 0.5px inset #aba8a7;
  text-align: start;
}
.phone-details,
.email-details {
  border-right: 0.5px outset #aba8a7;
}

.phone-details span:first-child,
.email-details span:first-child,
.address-details span:first-child {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  color: #8d69e0;
}

.phone-details span:nth-child(2),
.email-details span:nth-child(2),
.address-details span:nth-child(2) {
  font-size: 24px;
  color: #f2dd1f;
  font-family: 'Courier New', Courier, monospace;
}
.App-header-contact {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 60px;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 30px;
}
@media only screen and (max-width: 480px) {
  .address-grid {
    display: grid;
    width: 90%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
  }
  .phone-details,
  .email-details,
  .address-details {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 32px;
    border-top: 0.5px inset #aba8a7;
    text-align: start;
  }
  .map {
    width: 100%;
    height: 50vh;
    padding-left: 36px;
  }
}
