.service-bar-0,
.service-bar-1,
.service-bar-2 {
  width: 90%;
  padding: 24px;
  border: 0.5px solid #aba8a7;
}

.service-bar-0:hover {
  background-color: #ffff99;
}
.service-bar-1:hover {
  background-color: #ffff99;
}
.service-bar-2:hover {
  background-color: #4791e1;
}
.service-bar-title {
  font-size: 48px;
}
.typing-effect-0 {
  font-size: 36px;
  color: #8d69e0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid orange;
  animation: blink-caret 0.75s step-end infinite;
}
.typing-effect-1 {
  font-size: 36px;
  color: #4791e1;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid orange;
  animation: blink-caret 0.75s step-end infinite;
}
.typing-effect-2 {
  font-size: 36px;
  color: #ffff99;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid orange;
  animation: blink-caret 0.75s step-end infinite;
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.typing-line-size {
  font-size: 36px;
  font-weight: 100;
  color: white;
}
