.typingContainer {
  /* position: relative;
  z-index: 10; */
}
.typing-effect {
  font-size: 36px;
  color: #ffff99;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid orange;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.typing-effect-rewind-typing-line-size {
  font-size: 36px;
  font-weight: 100;
}

@media only screen and (max-width: 480px){

  .typing-effect {
    font-size: 12px;
    color: #ffff99;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid orange;
    animation: blink-caret 0.75s step-end infinite;
  }
  .typing-effect-rewind-typing-line-size {
    font-size: 16px;
    font-weight: 100;
  }
}