.typingContainer {
  /* position: relative;
    z-index: 10; */
  /* width: 100%; */
}
.typing-effect-slow {
  font-size: 64px;
  color: #4791e1;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid orange;
  animation: service-title-blink-caret 0.75s step-end infinite;
}

@keyframes service-title-blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #4791e1;
  }
}
.typing-line-size-slow {
  font-size: 64px;
  font-weight: 100;
}
