.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
  /* gap: 100px; */
  /* margin-left: 10%; */
}
.child-hierarchy {
  position: relative;
}
.App-header-services {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 60px;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 30px;
}

.services-section-intro {
  width: 60%;
  font-family: 'Courier New', Courier, monospace;
  color: #f2dd1f;
  font-size: 20px;
}
.services-page-body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #282c34;
  padding-top: 80px;
  justify-content: center;
  gap: 40px;
  /* align-items: center; */
}

.services-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.grid-border {
  border-top: 0.5px inset #aba8a7;
  border-right: 0.5px outset #aba8a7;
}
.grid-info-style {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  color: #f2dd1f;
  padding: 32px;
  text-align: start;
}
.grid-animation {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding: 32px;
  justify-content: center;
  align-items: center;
  flex: 0 0 200px;
}

.grid-animation span:first-child {
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
@media only screen and (max-width: 480px) {
  .services-info-container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(8, 1fr);
  }
  .grid-info-style {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    color: #f2dd1f;
    padding: 8px;
    text-align: start;
  }
  .services-section-intro {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: #f2dd1f;
    font-size: 20px;
    padding-left: 16px;
  }
  .grid-animation {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 32px;
    justify-content: center;
    align-items: center;
    flex: 0 0 200px;
  }
}
